<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dashboard.css" />
    <title>Document</title>
</head>
<body>
    <div class="sidebar">
        <span>sidebar</span>
    </div>
    <div class="card--container">
        <h2 class="main--title">Month's Data</h2>
        <div class="card--wrapper">
                <div class="payment--card light-blue">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">
                                    So don hang
                                </span>
                                <span class="amount--value">500</span>
                            </div>
                        </div>
                </div>

                <div class="payment--card light-red">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">
                                    Tong so don hang
                                </span>
                                <span class="amount--value">500</span>
                            </div>
                        </div>
                </div>

                <div class="payment--card light-purple">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">
                                    Doanh thu
                                </span>
                                <span class="amount--value">500</span>
                            </div>
                        </div>
                </div>

                <div class="payment--card light-orange">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">
                                    Tong doanh thu
                                </span>
                                <span class="amount--value">500</span>
                            </div>
                        </div>
                </div>

                <div class="payment--card light-green">
                        <div class="card--header">
                            <div class="amount">
                                <span class="title">
                                     Don cho xu ly
                                </span>
                                <span class="amount--value">500</span>
                            </div>
                        </div>
                </div>
            </div>

        <h2 class="main--title">Don hang dang cho xu ly</h2>
        <div class="table--wrapper">
            <div class="table--container">
                <table>
                    <thead>
                        <tr>
                            <th>Thoi gian</th>
                            <th>Dia diem</th>
                            <th>Tong tien don</th>
                            <th>Check</th>
                            <th>Trang thai</th>
                        </tr>
                        <tbody>
                            <tr>
                                <td> kngan </td>
                                <td>binh dinh</td>
                                <td> $500</td>
                                <td>
                                    <form >
                                        <input type="checkbox" name="color" value="choose" /> 
                                    </form>
                                </td>
                                <td> <button> Submit </button></td>
                            </tr>
                        </tbody>

                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>
</html>